.footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 1.4rem;
    height: 50px;
}