header {
    font-family: 'Shippori Mincho B1', serif;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
    margin: auto;
    position: relative;
}

.menu li {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 40px;
}

a.first {
    background-color: rgb(89, 126, 238);
}

a.first:hover, a.first:focus, a.first:active {
    background-color: royalblue;
}

a.second {
    background-color: #2E8B57;
}

a.second:hover, a.second:focus, a.second:active {
    background-color: #267548;
}


a.first:hover, a.first:focus, a.first:active,
a.second:hover, a.second:focus, a.second:active {
    transition: 0.8s;
}


